<footer >
    <div class="container">
        <div class="row "style="margin: 0px 55px;">
            <div class="col-md-4 mt-4" >
                <ul>
                    <li>Ve chung toi</li>
                    <li>30Shine Shop</li>
                    <li>Tim 30Shine gan nhat</li>
                    <li>Hoc cat toc</li>
                    <li>Chinh sach bao mat</li>
                </ul>
            </div>
            <div class="col-md-4 mt-4" >
                <ul>
                    <li>Gio phuc vu 8h30 - 20h30(Thu 2 - Chu nhat)</li>
                    <li>Hotline(1000d/phut): <span class="fw-bold">1900.2727.03</span></li>
                    <li>Lien he hoc nghe toc <span class="fw-bold">0967.86.3030</span></li>
                    <li>Lien he quang cao</li>
                </ul>
            </div>
            <div class="col-md-4 mt-4" >
                <ul>
                    <li>
                        <div class="dowload">
                            <div class="title">
                                Tai ung dung 30Shine
                            </div>
                            <div class="content d-flex">
                                <a class="btn btn-secondary" style="margin-right: 10px;" href="#" role="button">
                                    <i class="fa-brands fa-google-play"></i>
                                    Google Play
                                </a>
                                <a class="btn btn-secondary" href="#" role="button">
                                    <i class="fa-brands fa-apple"></i>
                                    App Store
                                </a>
                                
                            </div>
                        </div>
                    </li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</footer>