<div class="card mt-3 px-2 mx-auto" style="width: fit-content; background-color: #15397f;">
    <div class="card-body text-white ">
      <h5 class="card-title fw-bold">Dat lich giu cho chi 30s</h5>
      <p class="card-text">Cat xong tra tien, huy lich khong sao !</p>
      <form action="" class="input-group">
        <input class="form-control" type="text" placeholder="Vui long nhap so dien thoai..">
        <button class="btn-primary text-white btn-sm btn mx-2">Dat lich ngay</button>
      </form>
    </div>
  </div>